<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="close()">Cancelar</ion-button>
    </ion-buttons>
    <ion-title>Nueva tarea</ion-title>
    <ion-buttons slot="end">
      <ion-button [disabled]="taskForm.invalid || isSaving" (click)="saveTask()">Guardar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="taskForm" (ngSubmit)="saveTask()">
    <ion-item [class.ion-invalid]="isControlInvalid('title')">
      <ion-input
        formControlName="title"
        label="Titulo *"
        labelPlacement="stacked"
        placeholder="Ej. Terminar el sprint"
      ></ion-input>
    </ion-item>
    <ion-note *ngIf="isControlInvalid('title')" color="danger" class="form-error">
      {{ titleError }}
    </ion-note>

    <ion-item [class.ion-invalid]="isControlInvalid('description')">
      <ion-textarea
        formControlName="description"
        label="Descripcion"
        labelPlacement="stacked"
        placeholder="Describe la tarea"
        autoGrow="true"
      ></ion-textarea>
    </ion-item>
    <ion-note *ngIf="isControlInvalid('description')" color="danger" class="form-error">
      {{ descriptionError }}
    </ion-note>

    <ion-item>
      <ion-select
        formControlName="priority"
        label="Prioridad"
        labelPlacement="stacked"
        interface="popover"
      >
        <ion-select-option value="alta">Alta</ion-select-option>
        <ion-select-option value="media">Media</ion-select-option>
        <ion-select-option value="baja">Baja</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-select
        formControlName="category"
        label="Categoria"
        labelPlacement="stacked"
        interface="popover"
      >
        <ion-select-option value="personal">Personal</ion-select-option>
        <ion-select-option value="trabajo">Trabajo</ion-select-option>
        <ion-select-option value="estudio">Estudio</ion-select-option>
      </ion-select>
    </ion-item>

    <div *ngIf="errorMessage" class="form-feedback error-feedback ion-margin-top">
      {{ errorMessage }}
    </div>

    <ion-button
      expand="block"
      class="ion-margin-top"
      type="submit"
      [disabled]="taskForm.invalid || isSaving"
    >
      <ion-spinner *ngIf="isSaving" slot="start" name="crescent"></ion-spinner>
      Guardar tarea
    </ion-button>
  </form>
</ion-content>
